/cmake-build-debug/
/.idea/
/Drivers/
/Core/Inc
/Core/Src/fdcan.c
/Core/Src/gpio.c
/Core/Src/iwdg.c
/Core/Src/stm32g4xx_hal_msp.c
/Core/Src/stm32g4xx_it.c
/Core/Src/tim.c
/Core/Src/system_stm32g4xx.c
pth
Tomo_A4_Board.ioc
link.ld
startup_stm32g431xx.s
STM32G431KBTx_FLASH.ld
Makefile
.mxproject
CMakeLists.txt